<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', :media => 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-inner">
        <a class="brand"><h3>Jump Start Rails JSR Training</h3></a>
      </div>
    </div>
  </div>
  <div class="navbar navbar-default">
    <div class="container">
      <div class="row">
        <div class="md-col-8">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="md-col-4">
        <%= render "/shared/menu" %>
      </div>
    </div>
    <hr/>
    <footer class="footer">
      <p>Andy Hawthorne wrote the book, but Ben Grove built this site. Ben needs to work on his Bootstrap skills.</p>
    </footer>
  </div>

</body>
</html>
